<div class="">
  <h1>Edit Trip</h1>
  <%= render partial: "form"%>
  <%= link_to 'Delete', [@trip],method: :delete, data: { confirm:
                                                'Are you sure?' }%>
</div>
