<div class="container">
  <h1>New York</h1>
  <div class="date">
    <span>June 12th-June 14th</span>
    <button type="button" name="button">edit</button>
  </div>
</div>

<div class="container">

  <div class="map">
    This is a map
  </div>

  <div class="drop-down">
    <form class="" action="index.html" method="post">
      <select>
        <option value="" disabled="disabled" selected="selected">What would you like to add?</option>
        <option value="1">URL</option>
        <option value="2">Custom</option>
      </select>
    </form>
  </div>
</div>

<div class="container day">
  <h3><a href="/trips/1/days/1">Monday, June 12th</a></h3>
  <div class="wrapper">

    <div class="box modal">
      <div class="interior">
        <a class="btn" href="#open-modal">Day</a>
      </div>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>Content that will go insite
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. .</div>
          </div>
      </div>
    </div>
    <div class="box modal">
      <div class="interior">
        <a class="btn" href="#open-modal">Day</a>
      </div>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>Content that will go insite
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. .</div>
          </div>
      </div>
    </div>
    <div class="box modal">
      <div class="interior">
        <a class="btn" href="#open-modal">Day</a>
      </div>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>Content that will go insite
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. .</div>
          </div>
      </div>
    </div>
    <div class="box modal">
      <div class="interior">
        <a class="btn" href="#open-modal">Day</a>
      </div>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>Content that will go insite
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. .</div>
          </div>
      </div>
    </div>

    <div class="box modal">
      <div class="interior">
        <a class="btn" href="#open-modal">Day</a>
      </div>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#modal-close" title="Close" class="modal-close">Close</a>
          <h1>Voilà!</h1>
          <div>Content that will go insite
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. .</div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container day">
  <h3> <a href="/trips/TRIPID/day">Tuesday June 13th</a></h3>
  <div class="wrapper">
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
  </div>
</div>

<div class="container day">
  <h3> <a href="/trips/TRIPID/day"> Wednesday June 14th</a></h3>
  <div class="wrapper">
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
    <div class="box modal">
    </div>
  </div>
</div>

<div class="message">
  <h3> Message Wall</h3>
  <form class="message input" action="index.html" method="post">
    <input type="text" name="" placeholder="Add to the conversation.."/>
  </form>
  <!-- display messages here -->
  <div class="">
    <input readonly= "readonly" type="text" name="" value="So excited to eat cookies">
    <h5>
      <img src="http://i.imgur.com/CAd6Wnm.jpg" alt="">
       Natalie Ruiz</h5>
       <input readonly= "readonly" type="text" name="" value="Me too!">
       <h5>
         <img src="http://i.imgur.com/CAd6Wnm.jpg" alt="">
        Alex Hill</h5>
  </div>
</div>

<div class="">
  <h3>Friends</h3>
  <div class="friend-box">
    friend 1
  </div>
  <div class="friend-box">
    friend 2
  </div>
  <div class="friend-box">
    friend 3
  </div>
  <div class="friend-box">
    friend 4
  </div>
  <button type="button" name="button">Add friends</button>
</div>
