<div class="container">
  <h1>New York</h1>
  <h4>June 12th-June 14th</h4>
</div>

<div class="container">

  <div class="map">
    This is a map
  </div>

  <div class="drop-down">
    <form class="" action="index.html" method="post">
      <select>
        <option value="" disabled="disabled" selected="selected">What would you like to add?</option>
        <option value="1">URL</option>
        <option value="2">Custom</option>
      </select>
    </form>
  </div>
</div>

<div class="container">
  <h3>Monday, June 12th</h3>
</div>
