h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.weather {
  text-align: center;
  padding: 10px;
}

.wrapper{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
.box{
    margin:5px;
    height:150px;
    width:150px;
    float:left;
    border:solid 1px #000;
}

.drop{
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  height:180px;
  width:300px;
  border:solid 1px #000;
}
