<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been invited to join your friends on a trip!</h1>
    <p>
      <% signup_url = "https://dbc-recess.herokuapp.com/signup/trips/"+ @trip + "/new" %>
      <% login_url = "https://dbc-recess.herokuapp.com/login/trips/"+ @trip + "/new" %>
      Please <a href="<%=login_url %>">login</a> or <a href="<%=signup_url%>">signup</a>

    </p>
  </body>
</html>
