/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* line 3, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
#day-date {
  font-size: 20pt;
}

/* line 7, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
#day-top-details {
  background-color: #A5E29F;
  padding: 30px;
}
/* line 11, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
#day-top-details h1 {
  margin-top: 0;
}
/* line 14, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
#day-top-details h1 a {
  font-family: "Raleway", sans-serif;
  font-size: 24pt;
}
/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
#day-top-details h4 {
  margin-bottom: 0;
}

/* line 25, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
.time-of-day-style {
  background-color: #fff;
  border: 2px #CE84CE solid;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  width: 80%;
}
/* line 34, /Users/apprentice/nat/vacation/app/assets/stylesheets/day.scss */
.time-of-day-style h3 {
  font-size: 18pt;
}
/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* line 4, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form h1 {
  font-size: 25px;
}

/* line 9, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form-wrapper {
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 40%;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form-section {
  margin: 10px 0;
}
/* line 23, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form-section input[type="text"], .form-section input[type="submit"], .form-section input[type="date"], .form-section input[type="email"], .form-section input[type="password"], .form-section textarea, .form-section select, .form-section input[type="url"] {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}
/* line 31, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form-section input[type="submit"] {
  color: #fff;
  background-color: #EF7070;
  border: 2px #fff solid;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px;
  width: 109%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 45, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.form-section input[type="submit"]:hover {
  color: #EF7070;
  background-color: #fff;
  border: 2px #EF7070 solid;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 58, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.first-field {
  margin-top: 50px;
}

/* line 62, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.new_trip {
  width: 50%;
}

/* line 66, /Users/apprentice/nat/vacation/app/assets/stylesheets/form.scss */
.new_trip #locationField {
  width: 105%;
}
/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* line 5, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#home-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}

/* line 12, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#home-title {
  font-size: 60pt;
  letter-spacing: 10px;
}

/* line 17, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
.home-button-wrapper {
  text-align: center;
}
/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
.home-button-wrapper:last-child {
  margin-top: 50px;
}

/* line 25, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
.homepage-button {
  border: 2px #fff solid;
  border-radius: 3px;
  color: #fff;
  font-size: 20pt;
  padding: 15px 45px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 38, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#login {
  background-color: #CE84CE;
  padding: 15px 52px;
}
/* line 43, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#login:hover {
  background-color: #fff;
  border: 2px #CE84CE solid;
  color: #CE84CE;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 55, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#signup {
  background-color: #8CE8EA;
}
/* line 58, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#signup:hover {
  background-color: #fff;
  border: 2px #8CE8EA solid;
  color: #8CE8EA;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 70, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#loggedin {
  background-color: #A5E29F;
}
/* line 73, /Users/apprentice/nat/vacation/app/assets/stylesheets/home.scss */
#loggedin:hover {
  background-color: #fff;
  border: 2px #A5E29F solid;
  color: #A5E29F;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* line 3, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-section {
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 3px;
  margin: 0 auto;
  padding: 45px 20px;
  width: 80%;
}
/* line 13, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-section a:first-child:hover .fa {
  margin-left: 0px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 25, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.fa {
  margin: 0 10px 0 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 34, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-container {
  border: 2px #000 solid;
  border-radius: 3px;
  padding: 30px;
}

/* line 40, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#image-details {
  display: flex;
  justify-content: space-around;
}

/* line 45, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-details {
  display: flex;
  align-items: center;
}
/* line 49, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-details h1 {
  font-size: 25px;
  text-align: left;
}

/* line 55, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.edit-button {
  color: #b0b0b0;
}

/* line 59, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-image #item-details {
  display: inline-block;
}

/* line 63, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-image img {
  width: 80%;
}

/* line 67, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-vote {
  margin-top: 45px;
}

/* line 71, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#vote-item-form input {
  border: none;
}

/* line 75, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.vote-button {
  background-color: #fff;
  border: 0;
  font-size: 30px;
}
/* line 80, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.vote-button:focus {
  outline: 0;
}

/* line 85, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.vote-count {
  font-size: 25px;
  text-align: center;
  width: 100px;
}

/* line 91, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#item-comments {
  margin-top: 30px;
}

/* line 95, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
#comment-container {
  margin: 0 30px;
}

/* line 99, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.comment-section {
  border: 1px #000 solid;
  margin-top: 25px;
  padding: 5px;
}

/* line 105, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.comment-details {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

/* line 111, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.comment-user-img img {
  height: 50px;
  width: 50px;
}

/* line 116, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.comment-user-name {
  margin-left: 15px;
}

/* line 120, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.add-comment {
  margin-top: 40px;
}

/* line 124, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.add-comment input[name="body"] {
  height: 30px;
  padding: 10px;
  width: 100%;
}

/* line 130, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.comment-submit {
  font-size: 30px;
  margin-top: 10px;
}

/* line 135, /Users/apprentice/nat/vacation/app/assets/stylesheets/item_show.scss */
.edit_item select {
  height: 25px;
  font-size: 12px;
  width: 200px;
}
/* line 1, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
:root {
  --background: #FFFBB9;
  --green: #A5E29F;
  --red: #EF7070;
  --orange: #FFBC73;
  --blue: #8CE8EA;
  --purple: #CE84CE;
  --white: #fff;
  --black: #000;
  --gray: #b0b0b0;
}

/* line 13, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-logo {
  width: 100px;
  height: auto;
  z-index: 9;
  position: fixed;
  padding-left: 15px;
  padding-top: 10px;
}

/* line 22, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropbtn {
  position: fixed;
  background-color: var(--blue);
  color: var(--orange);
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 7px;
}

/* line 33, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown {
  height: 30px;
  position: sticky;
  position: relative;
  display: inline-block;
  width: 100%;
}

/* line 41, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--purple);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--gray);
  z-index: 1;
}

/* line 50, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown-content a {
  color: var(--black);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* line 57, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown-content a:hover {
  background-color: var(--blue);
}

/* line 59, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
  right: 0;
  position: fixed;
}

/* line 65, /Users/apprentice/nat/vacation/app/assets/stylesheets/nav.scss */
.nav-dropdown:hover .nav-dropbtn {
  background-color: var(--purple);
}
/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* line 3, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#trips-details {
  background-color: #A5E29F;
  padding-top: 20px;
}

/* line 9, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#trip-detail-wrapper h1 {
  font-size: 24pt;
  margin: 0;
  margin-bottom: 0px;
}

/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.date {
  padding-bottom: 20px;
  text-align: center;
}
/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.date span {
  margin-right: 15px;
}
/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.date a {
  text-decoration: underline;
}

/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.map {
  width: 100%;
  background-color: green;
  height: 300px;
  display: flex;
}

/* line 36, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#item_category {
  background-color: #fff;
}

/* line 40, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.drop-down {
  text-align: center;
}

/* line 44, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.dropdown-style {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
  height: 23px;
}
/* line 50, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.dropdown-style option {
  background-color: #fff;
}

/* line 56, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.message-wrapper:first-child {
  background-color: #fff;
  border: 2px #8CE8EA solid;
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
  width: 79%;
}

/* line 65, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.message input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

/* line 72, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#friends-wrapper {
  background-color: #fff;
  border: 2px #CE84CE solid;
  margin: 30px auto;
  max-width: 1200px;
  padding: 15px;
  width: 79%;
}

/* line 81, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.friend-box {
  display: inline-block;
  height: 125px;
  margin: 5px;
  width: 125px;
}
/* line 87, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.friend-box img {
  height: 100px;
  width: 125px;
}
/* line 92, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.friend-box p {
  margin-top: 0px;
  text-align: center;
}

/* line 99, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
a {
  color: inherit;
}

/* line 103, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.interior {
  background-color: blue;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 110, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.btn {
  background-color: green;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

/* line 117, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.trips-button {
  text-decoration: underline;
}

/* line 121, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.testing {
  background: #FFFF99;
  margin-top: 100px;
  padding: 10px;
  outline: red solid thick;
}

/* line 128, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.item-image {
  max-width: 300px;
}

/* line 132, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.create-event-button {
  background-color: #EF7070;
  border: 2px #fff solid;
  border-radius: 3px;
  color: #fff;
  font-size: 14pt;
  padding: 15px 45px;
  width: 200px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 146, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.create-event-button:hover {
  background-color: #fff;
  border: 2px #EF7070 solid;
  color: #EF7070;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 158, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.create-other-button {
  background-color: #FFBC73;
  border: 2px #fff solid;
  border-radius: 3px;
  color: #fff;
  font-size: 12pt;
  width: 200px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 171, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.create-other-button:hover {
  background-color: #fff;
  border: 2px #FFBC73 solid;
  color: #FFBC73;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  /* IE10 is actually unprefixed */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 184, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#locationField, #controls {
  display: flex;
}

/* line 188, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#new-google-maps-submit {
  display: block;
  margin: 20px;
}

/* line 192, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#autocomplete {
  margin-bottom: 3px;
  text-align: center;
  height: 30px;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* line 201, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#locationField {
  height: 20px;
  margin-bottom: 30px;
}

/* line 206, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.not-for-user-input {
  display: none;
}

/* line 210, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#toggle {
  display: none;
}

/* line 214, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#toggle:target {
  display: block;
}

/* line 218, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
#toggle:target + .close {
  text-align: center;
  display: block;
}

/* line 223, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.close {
  display: none;
}

/*Styling for comments section*/
/* line 228, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details {
  display: flex;
  justify-content: flex-start;
}
/* line 232, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details p {
  margin-top: 10px;
}
/* line 236, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details .comments-user-pic {
  margin: 10px 0 1em 0;
}
/* line 239, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details .comments-user-pic img {
  height: 50px;
  width: 50px;
}
/* line 245, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details .comments-user-name-date {
  margin-left: 10px;
}
/* line 248, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details .comments-user-name-date p {
  margin-bottom: 0;
}
/* line 252, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.comments-details .comments-user-name-date span {
  color: #D3D3D3;
}

/*Tiles*/
/* line 261, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.trip-day {
  background-color: white;
  border: 2px #A5E29F solid;
  border-radius: 3px;
  width: 80%;
  margin: 20px auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 10px;
}

/* line 272, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.box {
  border-radius: 3px;
  margin: 5px;
  height: 225px;
  width: 225px;
  float: left;
  margin-left: 13px;
}

/* line 281, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.info-overlay {
  margin-top: -75px;
  background-color: #fff;
  opacity: .8;
  padding-top: 1px;
  padding-left: 5px;
  height: 70px;
}

/* line 290, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.info {
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  font-weight: bold;
  margin-top: -60px;
  position: absolute;
  padding-left: 5px;
}

/*.info-overlay{
  margin-top: -57px;
  background-color: white;
  opacity: .6;
  padding-top: 1px;
  padding-left: 5px;
    p{
    padding: 5px;
    color: black;
    opacity: 1 !important;
    }
}*/
/* line 312, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.tile-image {
  border-radius: 3px;
  z-index: -1;
  height: 225px;
  width: 225px;
}

/* line 319, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.voting {
  z-index: 9999;
  position: absolute;
  margin-left: 120px;
  padding-top: 176px;
}

/* line 328, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.delete-section {
  text-align: center;
}

/* line 332, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips.scss */
.delete-button {
  text-decoration: underline;
}
/* line 1, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips/days.scss */
h1 {
  text-align: center;
}

/* line 5, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips/days.scss */
h4 {
  text-align: center;
}

/* line 9, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips/days.scss */
.weather {
  text-align: center;
  padding: 10px;
}

/* line 14, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips/days.scss */
.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 21, /Users/apprentice/nat/vacation/app/assets/stylesheets/trips/days.scss */
.drop {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 300px;
  border: solid 1px #000;
}
/* Color palette */
/* Default fonts */
/* line 17, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 21, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 25, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 30, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}
/* Color palette */
/* Default fonts */
/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

/* line 20, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
p, a, span, label, select, ul, ol, li {
  font-family: "Roboto", sans-serif;
}

/* line 24, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
a {
  text-decoration: none;
}

/* Cross-page styling */
/* line 29, /Users/apprentice/nat/vacation/app/assets/stylesheets/universals.scss */
body {
  background-color: #FFFBB9;
  margin: 0;
}

/* Styling for user profile: /users/:id */
/* line 4, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-profile {
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 3px;
  margin: 0 auto;
  width: 70%;
}

/* line 12, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-profile-header {
  display: flex;
}

/* line 16, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#profile-details {
  margin: 0 auto;
}
/* line 19, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#profile-details h2 {
  text-align: center;
}
/* line 23, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#profile-details img {
  display: table;
  height: 60%;
  margin: 0 auto;
  width: 60%;
}

/* line 31, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#profile-no-trip {
  margin-left: 30px;
}

/* line 35, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-profile-trips {
  border-top: 1px #b0b0b0 solid;
  margin-top: 30px;
  padding: 50px 20px;
}

/* line 41, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#profile-upcoming-trips, #profile-past-trips {
  margin-top: 40px;
}

/* Styling for user traveler page: /trips/:id/users/:id */
/* line 47, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-travel-header {
  display: flex;
}

/* line 51, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
.travel-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 60%;
}

/* line 59, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
.travel-profile-pic, .travel-details {
  display: inline-block;
  width: 40%;
}

/* line 64, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
.travel-profile-pic {
  height: 200px;
}
/* line 67, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
.travel-profile-pic img {
  display: table;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* line 76, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
.travel-details h1, .travel-details h4 {
  text-align: left;
}

/* line 81, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#travel-details {
  border-top: 2px #000 solid;
  margin: 0 auto;
  width: 80%;
}

/* line 87, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-travel-flight, #user-travel-lodge {
  margin-top: 30px;
  width: 80%;
}
/* line 91, /Users/apprentice/nat/vacation/app/assets/stylesheets/users.scss */
#user-travel-flight p, #user-travel-lodge p {
  margin-left: 30px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

