<h1>User's travel profile</h1>
<p>Wanna know about my travel info?</p>
<h3><%= @flight.body %></h3>
<p>Flight lookup: <%= @flight.lookup %></p>
<h3><%= @lodge.body %></h3>
<p>Hotel lookup: <%= @lodge.lookup %></p>
