<h1>Nat's Profile</h1>
<% if logged_in? %>
  <a href="#">Edit Profile</a>
<% end %>
<h3>Nat's Upcoming Trips:</h3>
<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.name %> in <%= trip.location %> from <%= trip.start_date.strftime("%m/%d/%Y") %> until <%= trip.end_date.strftime("%m/%d/%Y") %></li>
  <% end %>
</ul>
