<h1>Users#show</h1>
<h2>User's profile page</h2>
<p>Find me in app/views/users/show.html.erb</p>

<p>Welcome to my profile!</p>
<p>I'm going on these trips:</p>
<ul>
  <% @trips.each do |trip| %>
    <li><%= trip.name %> in <%= trip.location %> from <%= trip.start_date.strftime("%m/%d/%Y") %> until <%= trip.end_date.strftime("%m/%d/%Y") %></li>
  <% end %>
</ul>
