<section id="about-section">
  <article id="about-details">
    <p style="text-align: center;">Weeeeeeeee are the chaaaaampiooooons!!!!!</p>
    <center><img src="https://s-media-cache-ak0.pinimg.com/736x/72/f7/62/72f762abdfc3652ede9409487b955902.jpg" alt="we are the best" /></center>
  </article>
</section>
