<p>This is the day page for <%= @trip.name %></p>
<div class="container">
  <h1><%= @date.to_date.strftime("%A, %B %e") %></h1>
  <div class="weather">
    <span>It is 81 degrees and sunny in <%= @trip.location%></span>
  </div>
</div>


<div class="testing">
  <div class="morning">
    <h3>Morning</h3>
  </div>

  <div class="afternoon">
    <h3> Afternoon</h3>
    <div class="wrapper">

    <% @day_items.where('date BETWEEN ? AND ?',@date.to_date.middle_of_day, "#{@date} 18:00:00").each do |item| %>
    <div class="box">
      <li><%= item.title %></li>
    </div>
    <% end %>
    </div>
  </div>

  <div class="night">
    <h3> Night</h3>
  </div>
</div>

<div class="drop">
  DROP
</div>
