<div class="container">
  <h1><%= @date.to_date.strftime("%A, %B %e") %></h1>
  <div class="weather">
    <span>It is 81 degrees and sunny in <%= @trip.location%></span>
  </div>
</div>


<div class="testing">
  <% if @trip.items %>

</div>

<div class="">
  <h3>Morning</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>

  <h3>Afternoon</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>

  <h3>Night</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>
</div>

<div class="drop">
  DROP
</div>

<hr />
<p>This is the day page for <%= @trip.name %></p>
<p>Here are all the events we're gonna do today!</p>
<ul>
  <!-- Right now I have it just iterating through all the events for this trip, but once we dynamically pull the date, we can match events that have the same start_date as the day date  -->
    <% @all_items.each do |item| %>
      <li><%= item.body %></li>
    <% end %>
</ul>
