<div class="container">
  <h1>Monday, June 12th</h1>
  <div class="weather">
    <span>It is 81 degrees and sunny in New York</span>
    <button type="button" name="button">edit</button>
  </div>
</div>

<div class="">
  <h3>Morning</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>

  <h3>Afternoon</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>

  <h3>Night</h3>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </div>
</div>

<div class="drop">
  DROP
</div>
