@import 'universals';

#day-date {
    font-size: 20pt;
}

#day-top-details {
  background-color: $green;
  padding: 30px;

  h1 {
    margin-top: 0;

    a {
      font-family: $title-font;
      font-size: 24pt;
    }
  }

  h4 {
    margin-bottom: 0;
  }
}

.time-of-day-style {
  background-color: $white;
  border: 2px $purple solid;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  width: 80%;

  h3 {
    font-size: 18pt;
  }
}