.form-wrapper {
  border: 2px #000 solid;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 40%;
}

.form-section {
  margin: 10px 0;

  input[type="text"], input[type="submit"], input[type="email"], input[type="password"] {
    display: block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 20px;
    width: 109%;
  }
}

.first-field {
  margin-top: 50px;
}
