#item-section {
height: 500px;
  justify-content: center;
  margin-top: 50px;
}

#item-container {
  border: 2px #000 solid;
  border-radius: 3px;
  padding: 30px;
}

#image-details {
  display: flex;
  justify-content: space-around;
}

#item-details {
  display: flex;
  align-items: center;
}

#item-image #item-details {
  display: inline-block;
}

#item-image img {
  width: 80%;
}

#item-details h1 {
  text-align: left;
}

#item-vote {
  margin-top: 45px;
}

#vote-item-form input {
  border: none;
}

.vote-button {
  background-color: #fff;
}

.vote-button {
  font-size: 30px;
}

.vote-count {
  font-size: 25px;
  text-align: center;
  width: 100px;
}

#item-comments {
  margin-top: 30px;
}

#comment-container {
  margin: 0 30px;
}

.comment-section {
  border: 1px #000 solid;
  margin-top: 25px;
  padding: 5px;
}

.comment-details {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.comment-user-img img {
  height: 50px;
  width: 50px;
}

.comment-user-name {
  margin-left: 15px;
}

.add-comment {
  margin-top: 40px;
}

.add-comment input[name="body"] {
  height: 30px;
  padding: 10px;
  width: 100%;
}

.comment-submit {
  font-size: 30px;
  margin-top: 10px;
}
