// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

h3 {

}

h4 {
  text-align: center;
}

.date {
  text-align: center;
}

.map {
    width: 300px;
    border: 100px solid green;
    padding: 25px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

.drop-down {
  text-align: center;
}

.wrapper{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
.box{
    margin:5px;
    height:150px;
    width:150px;
    float:left;
    border:solid 1px #000;
}

.message input{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 5px;
}

.friend-box{
  margin:5px;
  height:80px;
  width:80px;
  float:left;
  border:solid 1px #000;
}


a {
  color: inherit;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.testing {
  background: #FFFF99;
  margin-top: 100px;
  padding: 10px;
 outline: red solid thick;
}

.item-image {
  max-width: 300px;
}
