// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

h3 {

}

h4 {
  text-align: center;
}

.date {
  text-align: center;
}

.map {
  width: 100%;
    background-color: green;
    height: 300px;
    display: flex;
}

.drop-down {
  text-align: center;
}

.item-wrapper{
    background-color: yellow;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
.box{
    background-color: red;
    margin:5px;
    height:150px;
    width:150px;
    float:left;
    border:solid 1px #000;
}

.message {
  margin: 0 10%;
}

.message input{
  width: 100%;
  margin-left: auto;
  margin-right: 10%;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
}

.friend-box{
  border:solid 1px #000;
  display: inline-block;
  height:125px;
  margin:5px;
  width:125px;

  img {
    height: 100px;
    width: 125px;
  }

  p {
    margin-top: 0px;
    text-align: center;
  }
}


a {
  color: inherit;
}

.interior {
  background-color: blue;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: green;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.testing {
  background: #FFFF99;
  margin-top: 100px;
  padding: 10px;
 outline: red solid thick;
}

.item-image {
  max-width: 300px;
}

// ADDED FROM GOOGLE FOR THE GOOGLE SEARCH BAR FROM BRENT
#locationField, #controls {
  display: flex;
}
#item-new-google-maps-submit {
  display: block;
  margin: 20px;
}
#autocomplete {
  margin-bottom: 3px;
  text-align: center;
  height: 30px;
  top: 0px;
  left: 0px;
  width: 100%;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.not-for-user-input {
  display: none;
}

#toggle {
  display: none;
}

#toggle:target {
  display: block;
}

#toggle:target + .close {
  display: block;
}

.close {
  display: none;
}

/*Styling for comments section*/
.comments-details {
  display: flex;
  justify-content: flex-start;

  .comments-user-pic {
    margin: 1em 0;

    img {
      height: 50px;
      width: 50px;
    }
  }

  .comments-user-name-date {
    margin-left: 20px;

    p {
      margin-bottom: 0;
    }

    span {
      color: #D3D3D3;
    }
  }
}
