// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}



h4 {
  text-align: center;
}

.map {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

.drop-down {
  text-align: center;
}
